body {
	margin: 40px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	background: #ededed;
}
 
#fourOhFour {
	width: 450px;
	background-color: #e7e7e8;
	border: 1px solid #e7e7e8;
	padding: 40px;
	text-align: left;
	margin: 0 auto;
}
 
#logo {
	padding-bottom: 20px;
}
 
h1 {
	font-size: 21px;
	margin: 0px 0px 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #040707;
	text-align: center;
}
 
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	color: #646362;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
}
 
a:link, a:visited {
	color: #646362;
	text-decoration: underline;
}
 
a:hover {
	color: #040707;
}
 
a:active {
	color: #000;
}