/********************************************************
CSS RESET
********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/********************************************************
GLOBAL - SOME STYLES TO USE:
PUT THEM HERE DUMMY!
********************************************************/

body, html {
}

body {
	margin: 0;
	padding: 0;
	font: 400 normal 16px/16px Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font: 400 normal 2em/1em Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px 0px 0px 0px;
	padding: 0;
}

h2 {
	color: #000;
	margin: 0px 0px 15px 0px;
	padding: 0;
}

h3 {
	color: #000;
	margin: 0px 0px 15px 0px;
	padding: 0;
}

h4 {
	color: #000;
	margin: 0px 0px 15px 0px;
	padding: 0;
}

h5 {
	color: #000;
	margin: 0px 0px 0px 0px;
	padding: 0;
}

h6 {
	color: #000;
	margin: 0px 0px 0px 0px;
	padding: 0;
}

ul {
	margin: 0px 0px 20px 0px;
	padding: 0;
}

li {
	list-style: disc;
	margin: 0px 0px 8px 20px;
	padding: 0;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0px 0px 15px 0px;
	padding: 0;
}

p.small {
	font-size: 0.75em;
}

a:link, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover, a:active {
	color: #FFCC00;
}

::selection			{ background:#FFF; color:#000; /* Safari and Opera */ }
::-moz-selection  { background:#FFF; color:#000; /* Firefox */ }


/********************************************************
STRUCTURE
********************************************************/

/********************************************************
HEADER
********************************************************/

/********************************************************
FOOTER
********************************************************/
